.hero_container {
  
}

.hero_default_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 87vh;
  opacity: 0.5;
}

.heroTitle {
  padding: 0.75rem 7.5rem;
}

.heroSubtitle {
  padding: 0.75rem 7.5rem;
  font-size: medium;
}

.display_section {
  padding: 0.75rem 7.5rem;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.userMessage {
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
  padding: 10px 24px;
  max-width: 50%;
  width: fit-content;
  background-color: #d1f7c4;
}

.aiMessage {
  background-color: #f1f1f1;
  align-self: flex-start;
  text-align: left;
  width: 100%;
}
