.hero_container {
  
}

.hero_default_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 87vh;
  opacity: 0.5;
}

.heroTitle {
  padding: 0.75rem 7.5rem;
}

.heroSubtitle {
  padding: 0.75rem 7.5rem;
  font-size: medium;
}

.display_section {
  padding: 0.75rem 7.5rem;
}
