
.input {
   display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon {
  width: 40px;
  height: 32px;
  margin-right: 25px; 
  color: #000;
}
